[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
aiohttp = "*"
"Jinja2" = "*"
"aiohttp_jinja2" = "*"
"aiohttp_cors" = "*"

[dev-packages]

[requires]
python_version = "3.6"
