{% extends "framework_base.html" %}

{% block links %}
	<div class="header center-content">
		<div>
			<a href="/"><div class="head-link">Home</div></a>
			<a href="/docs"><div class="head-link">Docs</div></a>
			<a href="/contact"><div class="head-link">Contact</div></a>
		</div>
	</div>
	<!-- <div class="head-left">
		<a href="/"><div class="head-link">rTeX</div></a>
	</div> -->
	<!-- <div class="head-right">
		<a><div class="head-link">Source Code</div></a>
	</div> -->
	<!-- <div class="head-right">
		<a href="https://www.patreon.com/dxsmiley" target="_blank">
			<div class="patreon head-link">Support Me!</div>
		</a>
	</div> -->
{% endblock %}
