{% extends "framework.html" %}

{% block title %}rTeX - Stats{% endblock %}

{% block content %}
	<div class="head-sep"></div>
	<h1>Stats</h1>
	<div class="wrapper center-content">
		<table>
			<thead>
				<tr>
					<td>Days Ago</td>
					<td></td>
					<td>Usage</td>
					<td>Success Rate</td>
				</tr>
			</thead>
			<tbody>
				{% for i in stats %}
					<tr>
						<td>{{ i.day }}</td>
						<td>{{ i.usage }}</td>
						<td><progress value="{{ i.usage }}" max="{{ max_usage }}"></progress></td>
						<td><progress value="{{ i.success }}" max="{{ i.usage }}"></progress></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="head-sep"></div>
{% endblock %}
